<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    
    <!-- Vendor Scripts -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">

    <?!= HtmlService.createHtmlOutputFromFile('Stylesheet').getContent(); ?>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
  
<div id="app" v-cloak>
  
  <login-dialog 
    v-on:login-success="onLoginSuccess"
    :show="showLogin"
  ></login-dialog>

  <div class="md-layout md-alignment-top-center">
    <div class="md-layout-item">
      <md-card class="md-accent">
        <md-card-header>
          <div class="md-title"><b>DSA504</b>  Mobilizer Progress Tracker</div>
          <div class="md-subhead">Version 2.0</div>
        </md-card-header>
      </md-card>
      
      <select-program-member
        v-if="programMembers.length"
        v-bind:program-members="programMembers"
        v-model="selectedProgramMemberId"
      ></select-program-member>

      <!-- <intake-form
        v-if="selectedProgramMember"
        v-bind:presets="presets"
        v-bind:program-member="selectedProgramMember"
        v-on:program-member-update="updateProgramMember"
      ></intake-form> -->

    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/vue-material@1.0.0-beta-8/dist/vue-material.min.js"></script>
<?!= HtmlService.createHtmlOutputFromFile('LoginComponent').getContent(); ?>
<?!= HtmlService.createHtmlOutputFromFile('SelectProgramMemberComponent').getContent(); ?>
<?!= HtmlService.createHtmlOutputFromFile('IntakeFormComponent').getContent(); ?>
<?!= HtmlService.createHtmlOutputFromFile('VueApp').getContent(); ?>
</body>
</html>