<template id="select-program-member">
  <div class="select-program-member">
    <md-card>
      <md-card-content style="padding-bottom:0px;">
        <div>
          Please select your name to get started!
        </div>
        
        <md-field>
          <label for="mobilizers">Mobilizer</label> 
          <md-select name="mobilizers" id="mobilizers" v-model="selectedMobilizerName">  
            <md-option v-for="mn in mobilizerNames" :key="mn" :value="mn">
              {{ mn }}
            </md-option>
          </md-select>
        </md-field>
      </md-card-content>
    </md-card>
    
    <md-card v-if="selectedMobilizerName">
      <md-card-content style="padding-bottom:20px;padding-top:0px;">
        <md-field>
          <label for="programMembers">Program Member</label>
          <md-select 
            id="programMembers" 
            name="programMembers" 
            v-model="selectedProgramMemberId"
          >
            <md-option v-for="pm in assignedMembers" :key="pm.name" :value="pm.id">
              {{ pm.name }}
            </md-option>
          </md-select>
        </md-field>
        <md-table 
          id="progressTracker" 
          v-if="selectedMobilizerName" 
          v-model="assignedMembers" 
        >
          <md-table-row  
            slot="md-table-row" 
            slot-scope="{ item }" 
            md-selectable="single" 
            class="md-primary"
            v-on:click="selectedProgramMemberId = item.id"
          >
            <md-table-cell md-label="Program Member" class="firstCol">{{ item.name }}</md-table-cell>
            <md-table-cell md-label="Text?">
              <md-icon v-if="item.initialTextSent" style="color:green">check_circle_outline</md-icon>
              <md-icon v-if="!item.initialTextSent" style="opacity:.3">highlight_off</md-icon>
            </md-table-cell>
            <md-table-cell md-label="Call?">
              <md-icon v-if="item.callMade" style="color:green">check_circle_outline</md-icon>
              <md-icon v-if="!item.callMade" style="opacity:.3">highlight_off</md-icon>
            </md-table-cell>
            <md-table-cell md-label="Followup?">
              <md-icon v-if="item.followupTextSent" style="color:green">check_circle_outline</md-icon>
              <md-icon v-if="!item.followupTextSent"style="opacity:.3">highlight_off</md-icon>
            </md-table-cell>
            <md-table-cell md-label="Meetup?">
              <md-icon v-if="item.attendedMeetup" style="color:green">check_circle_outline</md-icon>
              <md-icon v-if="!item.attendedMeetup" style="opacity:.3">highlight_off</md-icon>
            </md-table-cell>
          </md-table-row>
        </md-table>
      </md-card-content>
    </md-card>
  </div>
</template>

<script>
  (function () {
    window.vueComponents = window.vueComponents || {};
    
    window.vueComponents.selectProgramMember = {
      template: "#select-program-member",
      props: {
        value: {type: Number, required: true},
        programMembers: { type: Array, required: true } 
      },
      data: function() { return {
        selectedMobilizerName: "",
        selectedProgramMemberId: -1,
      }; },
      methods: {
      },
      computed: {
        mobilizerNames: function() {
          return this.$props.programMembers
            .reduce(function(m, pm) {
              if (m.indexOf(pm.mobilizer) === -1) 
                m.push(pm.mobilizer);

              return m;
            }, [])
            .sort();
        },
        assignedMembers: function() {
          var component = this;
          return this.programMembers
            .filter(function(pm) {
              return pm.mobilizer === component.selectedMobilizerName; 
            });
        },
        selectedProgramMember: function() {
          if (!this.assignedMembers.length) return null;
          
          var spmId = this.selectedProgramMemberId;
          return this.assignedMembers
            .find(function(pm) {
              return pm.id === spmId;
            });
        },
      },
      watch: {
        selectedMobilizerName: function() {
          this.selectedProgramMemberId = -1;
        },
        selectedProgramMemberId: function(newId) {
          this.$emit("input", newId);
        }
      }
    };
  })();
</script>