<template id="select-program-member">
  <div class="select-program-member">
    <md-card>
      <md-card-content style="padding-bottom:0px;">
        <div>
          Please select your name to get started!
        </div>
        
        <md-field>
          <label for="mobilizers">Mobilizer</label> 
          <md-select name="mobilizers" id="mobilizers" v-model="selectedMobilizerName">  
            <md-option v-for="mn in mobilizerNames" :key="mn" :value="mn">
              {{ mn }}
            </md-option>
          </md-select>
        </md-field>
      </md-card-content>
    </md-card>
    
    <md-card v-if="selectedMobilizerName">
      <md-card-content style="padding-bottom:20px;padding-top:0px;">
        <md-field>
          <label for="programMembers">Program Member</label>
          <md-select 
            id="programMembers" 
            name="programMembers" 
            v-model="selectedProgramMemberId"
          >
            <md-option v-for="pm in assignedMembers" :key="pm.name" :value="pm.id">
              {{ pm.name }}
            </md-option>
          </md-select>
        </md-field>
        <md-table id="progressTracker" v-if="selectedMobilizerName" v-model="assignedMembers" @md-selected="onMemberSelect">
          <md-table-row  slot="md-table-row" slot-scope="{ item }" md-selectable="single" class="md-primary">
            <md-table-cell md-label="Program Member" class="firstCol">{{ item.name }}</md-table-cell>
            <md-table-cell md-label="Text?">
              <md-icon v-if="item.textSent" style="color:green">check_circle_outline</md-icon>
              <md-icon v-if="!item.textSent" style="opacity:.3">highlight_off</md-icon>
            </md-table-cell>
            <md-table-cell md-label="Call?">
              <md-icon v-if="item.callAttempted" style="color:green">check_circle_outline</md-icon>
              <md-icon v-if="!item.callAttempted" style="opacity:.3">highlight_off</md-icon>
            </md-table-cell>
            <md-table-cell md-label="Followup?">
              <md-icon v-if="item.sentFollowup" style="color:green">check_circle_outline</md-icon>
              <md-icon v-if="!item.sentFollowup"style="opacity:.3">highlight_off</md-icon>
            </md-table-cell>
            <md-table-cell md-label="Meetup?">
              <md-icon v-if="item.attended" style="color:green">check_circle_outline</md-icon>
              <md-icon v-if="!item.attended" style="opacity:.3">highlight_off</md-icon>
            </md-table-cell>
          </md-table-row>
        </md-table>
      </md-card-content>
    </md-card>
  </div>
</template>

<script>
  (function () {
    window.vueComponents = window.vueComponents || {};
    
    window.vueComponents.selectProgramMember = {
      template: "#select-program-member",
      props: {
        programMembers: { type: Array, required: true } 
      },
      data: function() { return {
        selectedMobilizerName: "",
        selectedProgramMemberId: null,
        selectedProgramMember: null,    
      }; },
      methods: {
        onMemberSelect: function(m) {
          if (!m) return;

          this.selectedProgramMemberId = m.id;
        }
      },
      computed: {
        mobilizerNames: function() {
          return this.$props.programMembers
            .reduce(function(m, pm) {
              if (m.indexOf(pm.mobilizer) === -1) 
                m.push(pm.mobilizer);

              return m;
            }, [])
            .sort();
        },
        assignedMembers: function() {
          var component = this;
          return this.$props.programMembers
            .filter(function(pm) {
              return pm.mobilizer === component.selectedMobilizerName; 
            });
        },
      },
      watch: {
        selectedProgramMember: function(newVal, oldVal) {
          if (newVal === oldVal) return;

          this.$emit("program-member-select", newVal);
        },
        selectedMobilizerName: function(newVal, oldVal) {
          if (newVal === oldVal) return;

          this.selectedProgramMemberId = null;
        },
        selectedProgramMemberId: function(newVal, oldVal) {
          if (newVal === oldVal) return;
          
          if (!newVal) return;

          var component = this;
          this.selectedProgramMember = this.assignedMembers
            .find(function(pm) {
              return pm.id === newVal;
            });
        }
      }
    };
  })();
</script>